<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>HardCover</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='stylesheet' href='/css/style.css' type='text/css'> 
  <link rel='stylesheet' href="/css/wow_book.css" type="text/css" />
  <link rel='stylesheet' href="/css/preview.css" type="text/css" />
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <link rel="shortcut icon" href="https://www.hardcover.me/images/fab_con.png"  type="image/x-icon">
  <script src='/js/libs/modernizr-2.5.3.min.js' type="text/javascript"></script>

  <style>
  		body {  min-height: 700px; margin-top:-20px; padding-top:20px; }
  		p{line-height:20px;}
  		ul{list-style:disc; margin-left:20px;}
  		h3{ margin:10px 0px 10px 0px;}
  </style>
</head>
<body>
  <!--[if lt IE 9]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Get Firefox here </a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div id="fb-root"></div>
<script type="text/javascript">

	window.fbAsyncInit = function() {
		FB.init({appId: "<?php echo $this->config->item("fb_appkey"); ?>", status: true, cookie: true, xfbml: true, channelURL : "<?php echo $this->config->item("base_url"); ?>/channel.html", oauth:true});
		FB.Canvas.setAutoGrow();
	};
	
  window.onload = function() {
	   //Run the timer every 100 milliseconds, you can increase this if you want to save CPU cycles
	}
  
    (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>

<div id="app_loader" class="hideDiv"><div class="bar"><span></span></div></div>
<header>
    <div class="navbar">
        <div class="container">
            <a href="https://dev.hardcover.me" class="brand" title="HardCover"><img alt="HardCover" src="img/hardcover-logo.png"><span STYLE="font-size: 18pt; text-align: middle;"> </span></a>
        </div>
    </div>  
</header>
<div role="main">
    <div class="container cont-wrapper">
        <div class="heading">
            <h3 class="heading__title">TERMS OF USE</h3>
        </div>
        <div class="banner">
        
        
<p>
You agree by using and accessing  https://dev.hardcover.me/ and its services that you are governed by these Terms of Use which affects your legal rights and obligations. If you, in any way, do not agree and should not wish to be bound by all these Terms of Use, please leave the website and / or do not access the service. 
</p>
<h3>
Users agree to the following BASIC TERMS:</h3>
<ul style="margin-left:15px;">
	<li>
	Users of this service must be at least 13 years old.</li>
<li>
	Users may not post indecent (nude or partially nude), pornographic, sexually suggestive, discriminatory, violent, unlawful, infringing and hateful photos with the use of the service as well as those considered racist, threatening or unlawful in any way or destructive and disruptive in nature.
</li>
<li>
	Users agree not to sell, transfer, license or assign his/her account, followers, username, or any account rights and not to create an account for anyone other than his/her self except for businesses and people who are allowed by their employers to create such accounts on their behalf. Users also agree to provide only the true, accurate, current and complete information upon registration and at all times and to update those information as necessary as possible to maintain its truth and accuracy.
</li>
</ul>


<h3>Account Security</h3>
<ul>
<li>Users accept all responsibility for any activity occurring while logged in to their accounts. It is user’s own responsibility to keep his/her username and password secure and safe.
</li>
</ul>
<h3>Other Terms of Use</h3>
 <p>Users of the <a href="https://dev.hardcover.me/">https://dev.hardcover.me/</a> service are not allowed to </p>
 <p style="margin-left:15px;">
1.	use any data mining or extraction methods in relation with the service and its website. This includes prohibition in changing, modifying, adapting or altering another website so as to imply it is associated with <a href="https://dev.hardcover.me">https://dev.hardcover.me/</a>. 
2.	interfere with or hinder the operation of the website or its service as well as restricting or attempting to restrict another user, in any way, to gain access or use the service. Also, you must not encourage / facilitate violation of such.
3.	inflict or impose any perverse or excessive burden in the service in any way. Likewise, you may not access <a href="https://dev.hardcover.me/">https://dev.hardcover.me/’s</a> private API by means other than those permitted by the owner of the website. You must not, at all times, compromise the security of the website as well as inject any content or code or alter and interfere with the way any page in this website is displayed and shown in a browser or any device.
4.	use the website for any purpose that is illegal, beyond its intended use or as prohibited in this Terms of Use. In the same manner, you may not use the service for any illegal or unauthorized purpose other than its intended purpose.
5.	utilize the application to transmit any material, which may include, but not limited to, spam, viruses, bugs, worms, spyware, malware and others, that may affect the delivery of the service of this website.
</p>
<h3>Intellectual Property Rights</h3>
<p style="margin-left:15px;">
	<ul>
<li><a href="https://dev.hardcover.me/">https://dev.hardcover.me/</a> claims no ownership or whatever rights to user’s photos and to reuse the photos or sell them.
</li><li>
Users retain ownership of their photos and books however users acknowledge that <a href="https://dev.hardcover.me/">https://dev.hardcover.me/</a> cannot stop other people from copying their photos and other contents of their personal account. 
</li>	</ul>
</p>
<h3>Indemnification</h3>
<ul><li>
	By agreeing to these terms you agree to indemnify and hold harmless <a href="https://dev.hardcover.me/">https://dev.hardcover.me/</a>, its owners / managers and the rest of its employees, from and against any and all complaints, charges, claims, damages, losses, costs, liabilities, and expenses (including attorneys’ fees) due to, arising out of, or in relation to your use of the service.
</li>
</ul>
<h3>Questions and Comments</h3>
<p>For comments, questions, concerns, or suggestions that you might have regarding these Terms of Use or anything related to the use of the service, please feel free to contact us at support at hardcover. Me  

</p>
        
        
        
        </div><!-- end banner-->
    </div><!-- end container-->
</div><!-- end role-->

<footer>
<br/>
<br/>
<br/>
</footer>

</div>    

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write(' <script src="/js/libs/jquery-1.7.1.min.js" type="text/javascript"><\/script>')</script>

<script src="/js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
<script src='/js/jquerycookie.js' type="text/javascript"></script>

<script src="/js/wow_book.min.js" type="text/javascript"></script>
<script src="/js/manipulate.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/screen.js"></script>
<script type="text/javascript" src="/js/imageloader.js"></script>
<script type="text/javascript" src="/js/pagelayout.js"></script>
<script type="text/javascript" src="/js/jquery.onImagesLoad.js"></script>
<script type="text/javascript" src="/js/canvasdraw.js"></script>
<script src='/js/plugins.js' type="text/javascript"></script>
<script src='/js/script.js' type="text/javascript"></script> 
<script src='/js/fbfunc.js' type="text/javascript"></script>
<script src="/js/getstarted.js"></script>
<script src='/js/filterpage.js'></script>
<script>
 
$(document).ready(function(){
	$('#main_right').fadeIn('fast',function(){
		$('#fold_left').css({height:$('#book').innerHeight(),top:11});
		$('#fold_right').css({height:$('#book').innerHeight(),left:parseInt($('#book').innerWidth())-20,top:11});
	}).delay(5000);
	
});

</script>

<!--personal js and will be consolidated to script.js on product mode--> 
<script src="/js/mych.js" type="text/javascript"></script>

</body>
</html>
